@font-face {
    font-family: NanumSquareRoundBold;
    src: url("./font/NanumSquareRoundOTFEB.otf") format("opentype");
}
@font-face {
    font-family: KoPubWorldLight;
    src: url("./font/KoPubWorld\ Dotum_Pro\ Light.otf") format("opentype");
}
@font-face {
    font-family: KoPubWorldMedium;
    src: url("./font/KoPubWorld\ Dotum_Pro\ Medium.otf") format("opentype");
}
@font-face {
    font-family: KoPubWorldBold;
    src: url("./font/KoPubWorld\ Dotum_Pro\ Bold.otf") format("opentype");
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
body {
font-family: "KoPubWorldMedium",serif;
}
h1,h2{font-family: "KoPubWorldBold",serif;}
/* 유튜브 자동 높이 조절 */


/* 유튜브 자동 높이 조절 */

.con-min-width{
    min-width: var(--site-width);
    }   


.con{
    box-sizing:border-box;
    width:1080px;
    margin-left: auto;
    margin-right: auto; 
    height: 100%;
    display: flex;

    
}

header{
    height: 100px;
}

header > img{
    margin: 30px 0 30px 30px;
    text-align: center;
    height: 30px;
}
.mainBanner{
    width:1200px;
    height: 800px;
    background-image: url('../img/banner.png');
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-position: center 0;
    position: relative;
}
.mainBanner > .bannerText{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-weight: bold;

}
.mainBanner > .bannerText h1{
    font-family: NanumSquareRoundBold;
    font-size: 40px;
    margin-bottom: 50px;
}
.mainBanner > .bannerText p{
    font-size: 25px;
    font-weight: 350;
    line-height: 1.3;
    /* text-shadow: 0.5px 0.5px 1px rgba(0,0,0,.5); */
}
.mobileBannerArrow{display: none;}






.dreamStarted{
    padding-top: 50px;
    padding-bottom: 100px;
}
.dreamStartedDescription h2{
    line-height: 1.2;
    font-size: 33px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.dreamStartedDescription p{
    color: gray;
    font-size: 19px;
    letter-spacing: 0.3px;
    line-height: 1.4;
    font-weight: 400;
}
.dreamStartedImg{
    margin-left: auto;
    margin-right: 30px;
}
.tabletDreamStartedImg{display:none}
.tabletDreamStartedImg img{display:none}
.dreamStartedImg img{
    width:450px;
}
.mobileCleanJejuImg{display: none;}
.cleanJeju{
    width:1200px;
    height: 710px;
    background-image: url('../img/CleanJejuImg.png');
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-position: center 0;
    position: relative;
}
.cleanJeju > .bannerText{
    margin-top: 13vw;
    margin-left: auto;
    margin-right: 70px;
    text-align: left;
    color: white;

}
.cleanJeju > .bannerText h1{
    font-size: 40px;
    margin-bottom: 50px;
}
.cleanJeju > .bannerText > p {
    font-size : 23px;
    line-height: 1.5;
    text-shadow: 2px 2px 1px rgba(0,0,0,0, 0.5);
}


.contentBox{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contentBox div{
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);

}
.contentBox > .firstClassEgg{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.firstClassEgg p{
    line-height: 1.35;
}
.mobileManagementImg{
    display: none;
}
.contentBox > .theBestManagement{
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
.theBestManagement p {
    line-height: 1.35;
}
.mobileFirstClassImg{
    display: none;
}
.contentBox h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.contentBox p{
    color:gray;
    font-size:18px
}




.honestProcess{
    margin-bottom: 70px;
    padding-bottom: 30px;
    flex-direction: column;
}
.honestProcess h2{
    font-size:30px;
    line-height: 1.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 70px;
}
.processList ol{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
}
.processList ol li:first-child{margin-left: 0;}
.processList ol li{

    width:20%;
    text-align: center;
}
.processList ol li span{
    letter-spacing: 0.2px;
    display: block;
    
}
.processList ol li img{
    border-radius: 100%;
    width:130px;
}
.processList ol li .processNum{
    font-size: 25px;
    font-style: italic;
    color: #D58924;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.processList ol li .processHead{
    font-weight: bold;
    font-size: 18px;
    height:30px;
}
.processDescription{
    font-size:15px;
    margin-top: 30px;
    color: gray;
}



.pcProductDescription{
    display: block;
}
.mobileProductDescription{
    display: none;
}
.product{
    background-color: white;
    border-radius: 30px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);

}
.product h2{
    font-size:30px;
    line-height: 1.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 50px;
}

.product p{
    line-height: 1.35;
    color:gray;
    font-size: 18px;
    padding-bottom: 40px;
}
.productSlider{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.productSlider .img1{
    width:250px;
    margin-top: auto;
    margin-bottom: auto;
}
.productSlider .img2{
    width:350px;
    margin-left: -130px;
    margin-right: -130px;
    z-index: 1;

}
.productSlider .img3{
    width:250px;
    margin-top: auto;
    margin-bottom: auto;
}
.button{position: relative;}
.button img{position: absolute;}
.button .left{
    left:50px;
    top:170px;
}
.button .right{
        right:50px;
        top:170px;
}



.pcCharctersdescription{
    display: block;
}
.mobileCharctersdescription{
    display : none;
}
.characters{
    background-color: white;
    border-radius: 30px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
}
.characters h2{
    font-size:30px;
    line-height: 1.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 50px;
}
.characters p{
    line-height: 1.35;
    color:gray;
    font-size: 18px;
    padding-bottom: 20px;
}




.socialResponsibility{
    background-color: white;
    border-radius: 30px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
}
.socialResponsibility h2{
    font-size:30px;
    line-height: 1.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 50px;
}
.socialResponsibility p{
    line-height: 1.35;
    padding-top: 50px;
    color:gray;
    font-size: 18px;
    padding-bottom: 50px;
}
.socialResponsibility img{
    width:100%;
}



footer img{
    margin: 10px 40px 10px 40px;
    width:100px;
}
footer p{
    line-height: 1.35;
    padding-top: 10px;
    line-height: 1.4;
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);

}
@media screen and (min-width:1024px) {
	/* Desktop */
}
@media screen and (min-width:500px) and (max-width: 1023px) {
    :root{
        --site-width:350px
    }
    header{
        display: none;
    }
    header > img{
        display: none;
    }
    .mainBanner{
        width:100%;
        height: 56vw;
        background-size: 100% auto;
    }
    .mainBanner > .bannerText{
        margin-top: 8vw;
    }
    .mainBanner > .bannerText h1{
        font-size: 6vw;
        margin-bottom: 3vw;
    }
    .mainBanner > .bannerText p{
        font-size: 3.5vw;
        line-height: 1.3;
    }
    .dreamStarted{
        width:100%;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .dreamStartedDescription h2{
        line-height: 1.2;
        font-size: 5vw;
        padding-top: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    .dreamStartedDescription p{
        font-size: 3vw;
        letter-spacing: 0.3px;
        line-height: 1.4;
        font-weight: 400;
        text-align: center;
    }
    .dreamStartedImg{
        width:100%;
        margin: 0;
    }
    .mobileDreamStartedImg{
        display:flex;
        width:100%;
    }
    .tabletDreamStartedImg img{
        width:100%;
    }
    .dreamStartedImg{
        display:none
    }
    
    .mobileDreamStartedImg img{
        width:100%;
        margin-bottom: 4vw;
        width: 100%;
    }
    .cleanJeju{
        width:100%;
        height: 56vw;
        background-size: 100% auto;
        margin-bottom: 10vw;
    }
    .cleanJeju > .bannerText{
        margin-top: 10vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .cleanJeju > .bannerText h1{
        font-size: 5vw;
        margin-bottom: 5vw;
    }
    .cleanJeju > .bannerText > p {
        font-size : 3vw;
        line-height: 1.2;
        text-shadow: 2px 2px 1px rgba(0,0,0,0, 0.5);
    }
    .contentBox{
        width:100%;
    }
    .contentBox div{
        background-color: white;
        border-radius: 30px;
        box-shadow: none;
    
    }
    .contentBox > .firstClassEgg{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    .firstClassEgg p{
        line-height: 1.35;
    }
    .mobileManagementImg{
        display: none;
    }
    .contentBox > .theBestManagement{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 40px;
        margin-bottom: 50px;
    }
    .theBestManagement p {
        line-height: 1.35;
    }
    .mobileFirstClassImg{
        display: none;
    }

    .bannerBox{width:100%;}







    .honestProcess{
        width:90%;
        margin-bottom: 70px;
        padding-bottom: 30px;
        flex-direction: column;
    }
    .honestProcess h2{
        font-size:30px;
        line-height: 1.3;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .processList ol{
        margin-left: auto;
        margin-right: auto;
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;    
    }
    .processList ol li:first-child{margin-left: 0;}
    .processList ol li{
    
        width:20%;
        text-align: center;
    }
    .processList ol li span{
        letter-spacing: 0.2px;
        display: block;
        
    }
    .processList ol li img{
        border-radius: 100%;
        width:130px;
    }
    .processList ol li .processNum{
        font-size: 25px;
        font-style: italic;
        color: #D58924;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
    }
    .processList ol li .processHead{
        font-weight: bold;
        font-size: 18px;
        height:30px;
    }
    .processDescription{
        font-size:15px;
        margin-top: 30px;
        color: gray;
    }
    





    


	/* Tablet */
 }




@media screen and (max-width:600px){

    body{
    width:100%;
    background-color:white;
    }

    .con{
        width:100%;
        margin-left: auto;
        margin-right: auto; 
        height: 100%;
        display: flex;
    }


    header{
        display: none;
    }
    header > img{
        display: none;
    }
    .mainBanner{
        background-image: url(../img/mobileBanner.png);
        width:100%;
        height: 200vw;
        background-size: 110% auto;
    }
    .mainBanner img:before{
        content: "";
        position: relative;
    }
    .mainBanner .korea{
        position: absolute;
        right:5px;
        top:5px;
        margin-left: auto;
        width:80px;
        height:50px;
    }
    .mainBanner > .bannerText{
        text-align: left;
        margin-top: 30vw;
        margin-left: 10vw;
    }
    .mainBanner > .bannerText h1{
        font-size: 7vw;
        margin-bottom: 4vw;
    }
    .mainBanner > .bannerText p{
        font-size: 4.4vw;
        line-height: 1.3;
    }
    .mobileBannerArrow{
        position: absolute;
        display: block;
        width: 24px;
        height: 24px;
        left:10vw;
        top:75vw;
    }
    .tabletDreamStartedImg img{
        display: none;
    }


    .dreamStarted{
        width:100%;
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 0;

    }
    .dreamStartedDescription{
        margin-left: 5vw;
        margin-bottom: 10vw;
    }

    .dreamStartedDescription h2{
        line-height: 1.2;
        font-size: 6.5vw;
        padding-top: 0;
        padding-bottom: 20px;
        text-align: left;
    }
    .dreamStartedDescription p{
        font-size: 3vw;
        letter-spacing: 0.3px;
        line-height: 1.4;
        text-align: left;
    }
    .dreamStartedImg{width:100%;}
    .dreamStartedImg img{
        width:100%;
        margin: 0;
    }


    .cleanJeju{
        
        background-image: none;
        width:100%;
        height: auto;
        padding-top: 80px;
    }
    .mobileCleanJejuImg{
        display: block;
        width:95%;
        margin-right: auto;
    }
    .cleanJeju > .bannerText{
        color:black;
        margin-top: 0;
        margin-right: auto;
        text-align: left;
    }
    .cleanJeju > .bannerText h1{
        margin-left: 5vw;
        font-size: 6.5vw;
        margin-bottom: 5vw;
    }
    .cleanJeju > .bannerText > p {
        color:gray;
        margin-top: 5vw;
        margin-left: 5vw;
        font-size : 3.5vw;
        line-height: 1.4;
    }


    .contentBox{
        width:100%;
        padding-top: 80px;

    }
    .mobileFirstClassImg{
        display: block;
        width:95%;
        margin-left: auto;
    }
    .contentBox div{
        background-color: inherit;
        border-radius: none;
        box-shadow: none;
    }

    .contentBox > .firstClassEgg{
        width:100%;
        padding-top: 0;
        
    }

    .contentBox > .firstClassEgg{
        padding: 0;
        margin: 0;
    }
    .firstClassEgg h2{
        margin-right: 5vw;
        text-align: right;
        font-size: 6.5vw;
    }
    .firstClassEgg p{
        font-size: 3.5vw;
        line-height: 1.4;
        text-align: right;
        margin-right: 5vw;
        margin-top: 5vw;
    }
    .mobileManagementImg{
        display: block;
        width:95%;
        margin-left: auto;
        margin-right: auto;
    }
    .contentBox > .theBestManagement{
        padding-top: 90px;

    }
    .theBestManagement > h2{
        text-align: left;
        font-size: 6.5vw;
        margin-left: 5vw;
    }
    .theBestManagement p {
        font-size: 3.5vw;
        line-height: 1.4;
        text-align: center;
        margin-right: 0;
        margin-top: 30px;
    }
    .contentBox > .theBestManagement{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .bannerBox{display: none;}
    .bannerBox img{display: none;}


    .honestProcess{
        width:100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 80px;
        flex-direction: column;
    }
    .honestProcess >h2{
        font-size:6.5vw;
        line-height: 1.2;
        padding-top: 0;
        padding-bottom: 0;
    }
    .honestProcess >h3{
        text-align: center;
        font-size:4vw;
        line-height: 1.3;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .processList ol{
        margin-left: 2.5%;
        margin-right: 2.5%;
        width:95%;
        display: flex;
        flex-direction: column;    
    }
    .processList ol li{

        width:100%;
        height: 170px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
    }
    .processList ol li div{
        width:100%;
    }
    
    .processList >ol >li >div>span {
        text-align: center;
        display: block;
    }
    .processList ol li img{
        display: block;
        width:120px;
        height: 120px;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .processDescription{
        margin-top: 15px;
    }
    .processList ol li .processNum{
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .processList ol li .processHead{
        font-weight: bold;
        font-size: 3.8vw;
    }
    .processDescription{
        font-size:2.7vw;
    }



    .product{
        width:100%;
        border-radius: none;
        display: block;
        box-shadow: none;
        padding-top: 70px;
        margin-bottom: 0;
    
    }
    .product h2{
        font-size:6.5vw;
        text-align: center;
        padding: 0;
    }
    .product h3{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size:4vw;
        text-align: center;
    }
    .pcProductDescription{
        display: none;
    }
    .mobileProductDescription strong{
        color:black;
        font-size:3.5vw;
        font-family: 'KoPubWorldBold';
    }
    .product .mobileProductDescription{
        display: block;
        font-size: 3.2vw;
        text-align: cneter;
        padding-bottom: 0;
        letter-spacing: 0.1px;
    }
    .productSlider{
        padding-top:10px;
    }
    .productSlider .img1{
        width:45vw;
        margin-top: auto;
        margin-bottom: auto;
    }
    .productSlider .img2{
        width:50vw;
        margin-left: -70px;
        margin-right: -70px;
    }
    .productSlider .img3{
        width:37vw;
        margin-top: auto;
        margin-bottom: auto;
    }


    .characters{
        padding-top: 80px;
        background-color: white;
        border-radius: 0;
        display: block;
        margin-bottom: 0;
        box-shadow: none;
    }
    .characters h2{
        font-size:6.5vw;
        line-height: 1.2;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    .characters h3{
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 4vw;
        text-align: center;
    }
    .characters img{
        width:100%;
    }
    .pcCharctersdescription{
        display: none;
    }
    .mobileCharctersdescription{
        display : block;
    }
    .characters p{
        text-align: cneter;
        margin-left: 5vw;
        font-size: 3.5vw;
        padding-bottom: 20px;
        color: gray;
    }



    .socialResponsibility{
        padding-top: 40px;
        border-radius: none;
        display: block;
        margin-bottom:0;
        box-shadow: none;

    }
    .socialResponsibility h2{
        font-size:6.5vw;
        text-align: center;
        padding-top: 0;
        margin-right: 5vw;
        padding-bottom: 0;
    }
    .socialResponsibility h3{
        font-size:4vw;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .socialResponsibility img{
        width:100%;
    }

    .socialResponsibility p{
        line-height: 1.4;
        padding-top: 30px;
        color:gray;
        font-size: 3.5vw;
        padding-bottom: 50px;
    }
    .line{
        width:90%;
        color:DDD;
        margin: 0 auto 40px auto;
    }
    .lastImg iframe{
        height: 70.25vw;
    }
	/* Mobile */
    footer img{
        width:100px;
        height: 100px;
        margin: 2vw 30px;
    }
    footer p{
        font-size: 2.7vw;
    }
}