
:root{
    --site-width:1080px
}

.con-min-width{
    min-width: var(--site-width);
    }   


.con{
    width: var(--site-width);
    margin-left: auto;
    margin-right: auto; 
    height: 100%;
    display: flex;
    
}

header{
    height: 100px;
}

header > img{
    margin: 30px 0 30px 30px;

    text-align: center;
    height: 30px;
}
.mainBanner{
    width:1200px;
    height: 800px;
    background-image: url('../img/banner.png');
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-position: center 0;
    position: relative;
}
.mainBanner > .bannerText{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;

}
.mainBanner > .bannerText h1{
    font-size: 40px;
    margin-bottom: 50px;
}
.mainBanner > .bannerText p{
    font-size: 25px;
    font-weight: 350;
    line-height: 1.3;
    /* text-shadow: 0.5px 0.5px 1px rgba(0,0,0,.5); */
}
.dreamStarted{
    padding-top: 50px;
    padding-bottom: 100px;
}
.dreamStartedDescription h2{
    font-size: 33px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.dreamStartedDescription p{
    color: gray;
    font-size: 23px;
    letter-spacing: 0.3px;
    line-height: 1.2;
    font-weight: 400;
}
.dreamStartedImg{
    margin-left: auto;
    margin-right: 30px;
}
.dreamStartedImg img{
    width:450px;
}
.cleanJeju{
    width:1200px;
    height: 800px;
    background-image: url('../img/CleanJejuImg.png');
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-position: center 0;
    position: relative;
}
.cleanJeju > .bannerText{
    margin-top: 13vw;
    margin-left: auto;
    margin-right: 70px;
    text-align: left;
    color: white;

}
.cleanJeju > .bannerText h1{
    font-size: 40px;
    margin-bottom: 50px;
}
.cleanJeju > .bannerText > p {
    font-size : 23px;
    line-height: 1.3;
    text-shadow: 2px 2px 1px black;
}
.contentBox{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contentBox div{
    background-color: white;
    border-radius: 30px;

}
.contentBox > .firstClassEgg{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.contentBox > .theBestManagement{
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.contentBox h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.contentBox p{
    color:gray;
    font-size:18px
}
.honestProcess{
    margin-bottom: 70px;
    padding-bottom: 30px;
    flex-direction: column;
}
.honestProcess h2{
    font-size:30px;
    line-height: 1.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 70px;
}
.processList ol{
    margin-left: auto;
    margin-right: auto;
    width:90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
}
.processList ol li:first-child{margin-left: 0;}
.processList ol li{
    margin-left:20px;
    width:20%;
    text-align: center;
}
.processList ol li span{
    display: block;
    
}
.processList ol li img{
    border-radius: 100%;
    width:130px;
}
.processList ol li .processNum{
    font-size: 25px;
    font-style: italic;
    color: #D58924;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.processList ol li .processHead{
    font-weight: bold;
    font-size: 18px;
    height:30px;
}
.processDescription{
    font-size:15px;
    margin-top: 30px;
    color: gray;
}
.product{
    background-color: white;
    border-radius: 30px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}
.product h2{
    font-size:30px;
    line-height: 1.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 50px;
}

.product p{
    color:gray;
    font-size: 18px;
    padding-bottom: 40px;
}
.productSlider{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.productSlider .img1{
    width:250px;
    margin-top: auto;
    margin-bottom: auto;
}
.productSlider .img2{
    width:350px;
    margin-left: -130px;
    margin-right: -130px;
    z-index: 1;

}
.productSlider .img3{
    width:250px;
    margin-top: auto;
    margin-bottom: auto;
}
.button{position: relative;}
.button img{position: absolute;}
.button .left{
    left:50px;
    top:170px;
}
.button .right{
        right:50px;
        top:170px;
}
.characters{
    background-color: white;
    border-radius: 30px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.characters h2{
    font-size:30px;
    line-height: 1.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 50px;
}
.characters p{
    color:gray;
    font-size: 18px;
    padding-bottom: 20px;
}
.socialResponsibility{
    background-color: white;
    border-radius: 30px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.socialResponsibility h2{
    font-size:30px;
    line-height: 1.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 50px;
}
.socialResponsibility p{
    padding-top: 50px;
    color:gray;
    font-size: 18px;
    padding-bottom: 50px;
}
.lastImg{
    
}
